.clients {
  min-width: 320px;
  padding: 30px 0 100px 0;

  @media (max-width: 768px) {
    padding: 10px 0 30px 0;
  }

  // .clients__container

  &__container {
  }

  // .clients__list

  &__list {
    display: flex;

    @media (max-width: 768px) {
      flex-wrap: wrap;
    }
  }

  // .clients__item

  &__item {
    flex: 0 1 25%;
    padding: 0 30px 0 0;

    @media (max-width: 768px) {
      flex: 0 1 50%;
      padding: 0 15px 0 0;
    }

    @media (max-width: 480px) {
      flex: 0 1 100%;
      padding: 0;
    }

    & img {
      max-width: 100%;
    }
  }
}
