.design {
  padding: 90px 0 146px 0;
  min-width: 320px;

  @media (max-width: 768px) {
    padding: 10px 0;
  }
  // .design__container

  &__container {
    padding-left: 82px;
    display: flex;

    @media (max-width: 768px) {
      flex-direction: column;
      min-width: 320px;
      padding: 0 10px;

      & > *:not(:last-child) {
        margin: 0 0 30px 0;
      }
    }
  }

  // .design__image

  &__image {
    flex: 0 0 auto;
    padding-top: 30px;
    display: flex;

    @media (max-width: 768px) {
      justify-content: center;
      padding-top: 0;
    }

    & img {
      max-width: 100%;
    }
  }

  // .design__title
  &__body {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 0 131px;

    & > *:not(:last-child) {
      margin: 0 0 60px 0;

      @media (max-width: 990px) {
        margin: 0 0 20px;
      }
    }

    @media (max-width: 990px) {
      padding: 0 0 0 40px;
    }

    @media (max-width: 768px) {
      padding: 0;
    }
  }

  &__title {
    flex: 0 0 100%;
    font-weight: 500;
    font-size: 48px;
    line-height: 79 / 48 * 100%;
    color: #000000;

    @media (max-width: 990px) {
      font-size: 42px;
      line-height: 125%;
    }

    @media (max-width: 768px) {
      font-size: 36px;
    }
  }

  // .design__text

  &__text {
    font-weight: normal;
    font-size: 16px;
    line-height: 26 / 16 * 100%;
    color: #727272;
  }

  &__button {
    display: flex;
    flex: 0 0 auto;
    text-transform: uppercase;
    text-decoration: none;
    padding: 25px 41px;
    min-height: 65px;
    background: #34547a;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.1em;
    color: #ffffff;

    @media (max-width: 768px) {
      flex: 0 0 100%;
      padding: 10px 41px;
      min-height: 50px;
    }

    &:hover {
      background: #213650;
    }
  }
}
