.footer {
  background: #34547a;
  padding: 50px 0;
  min-width: 320px;
  // .footer__container

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 520px) {
      flex-direction: column-reverse;
      align-items: center;

      & > *:not(:last-child) {
        margin-top: 30px;
      }
    }
  }

  // .footer__copyright

  &__copyright {
  }

  // .footer__social

  &__social {
  }
}
.copyright {
  color: #fff;

  @media (max-width: 520px) {
    text-align: center;
  }

  & > *:not(:last-child) {
    margin-bottom: 20px;
  }
  // .copyright__author

  &__author {
    font-weight: 500;
    font-size: 21px;
    line-height: 25/21 * 100%;
  }

  // .copyright__text

  &__text {
    font-size: 13px;
    line-height: 21/13 * 100%;
  }
}
.social-footer {
  // .social-footer__list

  &__list {
    display: flex;
    & > *:not(:last-child) {
      margin-right: 21px;
    }
  }

  // .social-footer__item

  &__item {
  }

  // .social-footer__link

  &__link {
  }
}
