.offers {
  .container {
    max-width: none;
    padding: 0;
  }

  padding: 30px 0 28px 0;
  // .offers__container

  &__container {
    display: grid;
    grid-template-rows: repeat (auto-fit, minmax(186px, 1fr));
    gap: 40px;
  }

  &__shadow-block {
    height: 40px;
    margin-top: -15px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 2px 0px 10px rgba(41, 44, 61, 0.34);
  }

  // .offers__title

  &__title {
    position: relative;
    font-weight: 700;
    font-size: 32px;
    line-height: 36/32 * 100%;
    text-align: center;
    padding-bottom: 22px;

    &::after {
      content: "";
      width: 70px;
      border: 1px solid #cfcfcf;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%);
    }
  }

  // .offers__slider

  &__slider {
    margin: 0 auto;
  }
}

.slider-offers {
  max-width: 1420px;
  position: relative;
  // .slider-offers__list

  &__list {
    display: flex;
    justify-content: space-between;
    justify-self: center;
    align-items: center;
  }

  // .slider-offers__item

  &__item {
  }

  // .slider-offers__link

  &__link {
  }

  // .slider-offers__button--left

  &__button--left,
  &__button--right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }
  }

  &__button--left {
    left: 0;
  }

  // .slider-offers__button--right

  &__button--right {
    right: 0;
  }
}
.offer-link {
  display: flex;
  flex-direction: column;
  align-items: center;

  & > *:not(:last-child) {
    margin-bottom: 5px;
  }

  &:hover {
    opacity: 0.7;
  }

  // .offer-link__image

  &__image {
    flex: 0 0 186px;
  }

  // .offer-link__name

  &__name {
    max-width: 140px;
    line-height: 18/15 * 100%;
    text-align: center;
    color: #ff4a32;
  }

  // .offer-link__price

  &__price {
    font-size: 14px;
    line-height: 18/14 * 100%;
  }

  // .offer-link__price--normal

  &__price--normal {
    color: #373737;
  }

  // .offer-link__price--old

  &__price--old {
    color: #ff2121;
  }

  // .offer-link__price--sold

  &__price--sold {
    line-height: 15/18 * 100%;
    color: rgba(0, 0, 0, 0.3);
  }
}
