.page {
  font-family: 'Roboto', 'Arial', 'Helvetica', serif;
  color: #000;

  &__design {
    background: #eeeff1;
  }

  &__aboutus {
  }

  &__statistic {
    background: #34547a;
  }

  &__skils {
  }

  &__me-work {
    background: #eeeff1;
  }

  &__order {
    background: #eeeff1;
  }
}
