.skils {
  padding: 102px 0 101px;

  @media (max-width: 1040px) {
    padding: 50px 0;
  }
  // .skils__container

  &__container {
    display: flex;
    align-items: center;

    @media (max-width: 580px) {
      flex-wrap: wrap;
    }
  }

  // .skils__body

  &__body {
    flex: 0 0 50%;
    padding: 0 150px 0 0;

    @media (max-width: 1040px) {
      padding: 0 50px 0 0;
    }

    @media (max-width: 580px) {
      flex: 1 1 100%;
      padding: 0 0 30px 0;
    }
  }

  // .skils__title

  &__title {
    padding: 0 0 20px 0;
    font-weight: 500;
    font-size: 32px;
    line-height: 37 / 32 * 100%;
    color: #000000;

    @media (max-width: 1040px) {
      padding: 0 0 10px 0;
    }
  }

  // .skils__list

  &__list {
  }

  // .skils__item

  &__item {
    margin: 30px 0 0 0;

    @media (max-width: 1040px) {
      margin: 15px 0 0 0;
    }
  }

  // .skils__name

  &__name {
    margin: 20px 0;
    font-size: 16px;
    line-height: 26 / 16 * 100%;
    color: #727272;

    @media (max-width: 1040px) {
      margin: 10px 0;
    }
  }

  // .skils__range

  &__range {
    position: relative;
    display: block;
    height: 4px;
    width: 100%;
    background: #c4c4c4;

    &::before {
      position: absolute;
      content: '';
      width: 78%;
      height: 4px;
      background: #34547a;
    }
  }

  // .skils__foto

  &__foto {
    & img {
      max-width: 100%;
    }
  }
}
