.statistic {
  padding: 60px 0;
  min-width: 320px;

  @media (max-width: 1040px) {
    padding: 30px 0;
  }
  // .statistic__container

  &__container {
  }

  // .statistic__list

  &__list {
    display: flex;

    @media (max-width: 1040px) {
      flex-wrap: wrap;
    }
  }

  // .statistic__item

  &__item {
    padding: 20px 0;
    flex: 1 1 16.667%;
    color: #ffffff;
    padding-left: 67px;
    background: url(../img/static-icon.svg) no-repeat 0 center / 47px;

    @media (max-width: 1040px) {
      flex: 1 1 33.33%;
    }

    @media (max-width: 560px) {
      flex: 1 1 50%;
    }

    @media (max-width: 380px) {
      flex: 1 1 100%;
    }
  }

  // .statistic__value

  &__value {
    font-weight: 500;
    font-size: 21px;
    line-height: 25 / 21 * 100%;
  }

  // .statistic__text

  &__text {
    font-size: 16px;
    line-height: 26 / 16 * 100%;
  }
}
